:root {
  --color-black: #000;
  --md-elevation-shadow-color: var(--md-sys-color-shadow);
  --md-ripple-hover-color: rgba(29, 27, 32, 0.15);
  --md-ripple-pressed-color: transparent;
  --md-ripple-pressed-color: var(--md-sys-color-on-surface);
  --md-ripple-pressed-color: #eaddff;
  --md-sys-color-error-container-light: #f9dedc;
  --md-sys-color-error-light: #b3261e;
  --md-sys-color-inverse-on-surface: #f5eff7;
  --md-sys-color-inverse-primary: #d0bcff;
  --md-sys-color-inverse-surface: #322f35;
  --md-sys-color-on-error-container: #410e0b;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-primary-container-light: #21005d;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-on-secondary-container-light: #1d192b;
  --md-sys-color-on-secondary-container: #1d192b;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-on-surface-light: #1c1b1f;
  --md-sys-color-on-surface: #1d1b20;
  --md-sys-color-on-tertiary-container-light: #31111d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-outline-variant-light: #cac4d0;
  --md-sys-color-outline: #79747e;
  --md-sys-color-outline: rgb(121, 116, 126, 0.32);
  --md-sys-color-primary-container-light: #eaddff;
  --md-sys-color-primary: #6750a4;
  --md-sys-color-secondary-container-light: #e8def8;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-secondary: #625b71;
  --md-sys-color-shadow: #000000;
  --md-sys-color-surface-container-highest: #e6e0e9;
  --md-sys-color-surface-container-low: #f7f2fa;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-tertiary-container-light: #ffd8e4;
  --md-sys-shape-corner-extra-small: 0.25rem;
  --md-sys-shape-corner-full: 20px;
  --md-sys-shape-corner-small: 0.5rem;
  --md-sys-state-dragged-state-layer-opacity: 0.16;
  --md-sys-state-focus-indicator-outer-offset: 2px;
  --md-sys-state-focus-indicator-thickness: 0.1875rem;
  --md-sys-state-focus-indicator-thickness: 3px;
  --md-sys-typescale-body-medium-font: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --md-sys-typescale-body-medium-size: 1rem;
  --md-sys-typescale-body-medium-weight: 400;
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font: 20pt;
  --md-sys-typescale-label-large-line-height: 20pt;
  --md-sys-typescale-label-large-size: 0.8125rem;
  --md-sys-typescale-label-large-tracking: 0.5pt;
  --md-sys-typescale-label-large-weight: 500;
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-color-surface-tint-light: #6750a4;
  --md-sys-color-primary: #6750A4;
  --md-sys-color-surface-container-high: #ECE6F0;
  --md-sys-shape-corner-extra-small: 4px;
  --md-sys-shape-corner-large: 16px;
  --md-sys-color-outline :#79747E;
  --md-outlined-field-supporting-text-color:#49454F;
  --md-outlined-field-supporting-text-size :0.75rem;
  --md-outlined-field-supporting-text-weight: 400;
  --md-sys-color-on-surface-variant: #49454F;
  --md-sys-color-surface-tint : #6750A4;
  --md-sys-color-on-surface:#1D1B20;
  --md-sys-color-on-primary:#FFFFFF;
  --md-sys-color-surface-variant: #E7E0EC;
  --md-outlined-field-supporting-text-font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --md-sys-typescale-body-large-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --md-sys-typescale-label-large-font :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --md-sys-typescale-body-large-line-height: 24pt;
  --md-outlined-field-supporting-text-line-height:24pt;
  --md-sys-typescale-label-large-line-height:20pt;
  --md-sys-typescale-body-large-size:0.875rem;
  --md-sys-typescale-body-large-weight:400;
  --md-sys-typescale-label-large-tracking:0.1pt;
  --md-sys-typescale-body-large-tracking: 0.5pt;
}
