.cardWrapper{
    border-radius: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 6.25rem;
    min-width: 12.5rem;
    justify-content:flex-start;
    overflow: hidden;
}

.elevated{
    background-color: #faf2f1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.filled{
    background-color: #f4dddc;
}

.outlined{
    background-color: transparent;
    border: 1px solid #e1d0cf;
    
}
